@using KmipCards.Shared
@using KmipCards.Client.Interfaces;
@inject HttpClient _httpClient;

<MudDialog>
    <DialogContent>

<EditForm OnValidSubmit="Submit" Model="@_card">
     <DataAnnotationsValidator />

     <div class="input-group">
        <MudTextField Label="Chinese Characters" @bind-Value=_card.Chinese id="chinese" For="@(() => _card.Chinese)"/>
        <MudButton  @onclick="@OnTranslationRequestedChinese">Translate</MudButton>
    </div>
     <MudTextField Label="Pinyin" @bind-Value=_card.Pinyin For="@(() => _card.Pinyin)"/>
   <div class="input-group">
      <MudTextField Label="English" @bind-Value=_card.English/>
      <MudButton @onclick="@OnTranslationRequestedEnglish">Translate</MudButton>
    </div>
        
  
 </EditForm>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Cancel() => MudDialog.Cancel();

    CardDataDto _card = new CardDataDto();
    string _tags = String.Empty;

    private enum TranslationSource {
        Chinese,
        English
    }

    private async Task OnTranslationRequestedChinese()
    {
        await OnTranslationRequested(TranslationSource.Chinese);
    }
    private async Task OnTranslationRequestedEnglish()
    {
        await OnTranslationRequested(TranslationSource.English);
    }

    private async Task OnTranslationRequested(TranslationSource translationSource)
    {
        try
        {

            if (translationSource == TranslationSource.Chinese)
            {
                // clear pinyin and english
                _card.English = null;
                _card.Pinyin = null;
            }
            else if (translationSource == TranslationSource.English)
            {
                _card.Chinese = null;
                _card.Pinyin = null;
            }
            var requestDto = new TranslationRequestDto() { English = _card.English, Chinese = _card.Chinese, Pinyin = _card.Pinyin }; 

            var translationResponse = await _httpClient.PostAsJsonAsync("/api/translate", requestDto);
            translationResponse.EnsureSuccessStatusCode();
            var dtoReturned = await translationResponse.Content.ReadFromJsonAsync<CardDataDto>();
            _card = dtoReturned;
            StateHasChanged();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

    private void Submit()
    {
        var tags = _tags.Split(",").Select(t => t.Trim()).ToArray();
        var cardToReturn = new CardRecord() { CardDataDto = _card, Tags = tags };
        MudDialog.Close(DialogResult.Ok<CardRecord>(cardToReturn));
    }

}
