@using KmipCards.Shared
@using KmipCards.Client.Interfaces;
@using FluentValidation;


<MudDialog>
    <DialogContent>

<MudForm Model="@CardRecord" @ref="@form">
     <div class="input-group">
        <MudTextField Label="Chinese Characters" @bind-Value=CardRecord.CardDataDto.Chinese id="chinese" Immediate="true"  Validation="@(newCardValidator.ValidateValue)" For="@(() => CardRecord.CardDataDto.Chinese)"/>
       <KmipCardsSecondaryLoadingButton LongTask=OnTranslationRequestedChinese>Translate</KmipCardsSecondaryLoadingButton>
       
    </div>
     <MudTextField Label="Pinyin" @bind-Value=CardRecord.CardDataDto.Pinyin Immediate="true" Validation="@(newCardValidator.ValidateValue)" For="@(() => CardRecord.CardDataDto.Pinyin)"/>
   <div class="input-group"> 
      <MudTextField Label="English" @bind-Value=CardRecord.CardDataDto.English Immediate="true" Validation="@(newCardValidator.ValidateValue)"  For="@(() => CardRecord.CardDataDto.English)" />
       <KmipCardsSecondaryLoadingButton LongTask=OnTranslationRequestedEnglish>Translate</KmipCardsSecondaryLoadingButton>
          
    </div>
  
 </MudForm>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

