@page "/print"
@using System.ComponentModel.DataAnnotations
@using MemoryCardGenerator.Shared
@inject ICardRepository CardRepository


<div class="col border">
    <EditForm EditContext="@_editContext"  OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="mb-1">
            <label for="numberOfCards" class="col-form-label">Number of cards per page:</label>
        </div>
        <div class="mb-3">
            <InputRadioGroup id="numberOfCards" @bind-Value="_printRequestModel.CardsPerPage">
                <InputRadio Value="@CardsPerPage.One" /> One<br />
                <InputRadio Value="@CardsPerPage.Four" /> Four<br />
                <InputRadio Value="@CardsPerPage.Twelve" /> Twelve <br />
                <InputRadio Value="@CardsPerPage.Twenty" /> Twenty <br />

            </InputRadioGroup>
            <ValidationMessage For="@(() =>  _printRequestModel.CardsPerPage)"></ValidationMessage>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Generate PDF</button>
        </div>
        <ValidationSummary/>
    </EditForm>
</div>

//Form to set number of cards per page
// generate file
// download file


@code {
    private PrintRequestModel _printRequestModel;
    EditContext _editContext;
    protected override void OnInitialized()
    {
        _printRequestModel = new PrintRequestModel();
        _editContext = new EditContext(_printRequestModel);
    }

    private class PrintRequestModel
    {
        [Required(ErrorMessage = "How many cards per page?")]
        public MemoryCardGenerator.Shared.CardsPerPage CardsPerPage { get; set; }


    }

    private async void OnValidSubmit()
    {
        var requestDto = new CardsGenerationRequestDto()
        {
                Cards = CardRepository.GetAllCards().ToArray(),
                CardsPerPage = _printRequestModel.CardsPerPage,
                Name = CardRepository.CurrentlyLoadedListName
        };

    }

}
