@page "/print"
@using System.ComponentModel.DataAnnotations
@using KmipCards.Shared
@using KmipCards.Client.Interfaces


<div class="col border">
    <EditForm EditContext="@_editContext"  OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="mb-1">
            <label for="numberOfCards" class="col-form-label">Number of cards per page:</label>
        </div>
        <div class="mb-3">
            <InputRadioGroup id="numberOfCards" @bind-Value="_printRequestModel.CardsPerPage">
                <InputRadio Value="@CardsPerPage.One" /> One<br />
                <InputRadio Value="@CardsPerPage.Four" /> Four<br />
                <InputRadio Value="@CardsPerPage.Twelve" /> Twelve <br />
                <InputRadio Value="@CardsPerPage.Twenty" /> Twenty <br />

            </InputRadioGroup>
            <ValidationMessage For="@(() =>  _printRequestModel.CardsPerPage)"></ValidationMessage>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Generate PDF</button>
        </div>      
    </EditForm>
</div>



